header {
	font-size: 16px;
	font-family: Georgia, serif;
	text-align: center;

}

body {
	font-size: 16px;
	font-family: Georgia, serif;
	line-height: 1.5;
	background-color: rgb(250,250,250);
	padding: 20px;
	max-width: 900px

}

h1 {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 15px;
	opacity: .8;
	margin-bottom: 60px;
	font-size: 16px;
	font-style: bold
	/*margin left: 200px;*/
	vertical-align: baseline;
	background-color: rgb(200,200,200);

}

.header p {
	font-size: 16px;
	font-style: italic;
	opacity: .5;
	margin-bottom: 40px;
	border-top: 1px solid #ccc;
	border-top: 1px solid #ccc;
	padding: 20px 0;
	text-align: center;
}

.projects {
	max-width: 900px;
	font-size: 16px;
	background-color: rgb(300,300,300)
	vertical-align: center;
}

.project {
	margin-bottom: 50px;
	max-width: 500px;
	font-size: 16px;
}

.date {
	opacity: 1px;
	margin-bottom: 5px;
	margin-top: 20px;
	display: block;
	font-size: 16px;
	font-style: inherit;
}

h2 {
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 2px;
	border-bottom: 3px #333;
	display: inline-block;
	margin-bottom: 20px;
	text-align: center;
	max-width: 800px
}

.project p {
	opacity: .6;
	font-size: 16px
}

