header {
	font-size: 16px;
	font-family: Georgia, serif;

}

body {
	font-size: 16px;
	font-family: Georgia, serif;
	line-height: 3;
	background-color: rgb(250,250,250);
	padding: 50px;
	max-width: 900px
	border-top: 30px solid #200;
	border-top: 70px solid #200;
}

h1 {
	text-transform: uppercase;
	letter-spacing: 5px;
	opacity: .8;
	margin-bottom: 60px;
	/*margin left: 200px;*/
}

.header p {
	font-size: 16px;
	font-style: italic;
	opacity: .5;
	margin-bottom: 40px;
	border-top: 1px solid #ccc;
	border-top: 1px solid #ccc;
	padding: 50px 0;
}

.projects {
	max-width: 1000px;
	font-size: 16px;
}

.project {
	margin-bottom: 50px;
	max-width: 500px;
	font-size: 16px;
}

.date {
	opacity: 1px;
	margin-bottom: 5px;
	margin-top: 20px;
	display: block;
	font-size: 16px;
	font-style: inherit;
}

h2 {
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 2px;
	opacity: .7
	border-bottom: 3px #333;
	display: inline-block;
	margin-bottom: 20px;
}

.project p {
	opacity: .6;
	font-size: 16px
}

